<!-- templates/add_contact.html -->
{% extends "base.html" %}

{% block title %}Ajouter un Contact{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }

  .add-contact-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .add-contact-container h2 {
    text-align: center;
    color: #333;
  }

  .add-contact-container form {
    display: flex;
    flex-direction: column;
  }

  .add-contact-container label {
    margin-bottom: 8px;
    color: #555;
  }

  .add-contact-container input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .add-contact-container button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .add-contact-container button:hover {
    background-color: #0056b3;
  }
</style>

<div class="add-contact-container">
  <h2>Ajouter un Contact</h2>
  <form method="post" action="{{ url_for('add_contact') }}">
    <label for="prenom">Prénom:</label>
    <input type="text" name="prenom" required>

    <label for="nom">Nom:</label>
    <input type="text" name="nom" required>

    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="telephone">Téléphone:</label>
    <input type="text" name="telephone">

    <label for="adresse">Adresse:</label>
    <input type="text" name="adresse">

    <button type="submit">Ajouter le Contact</button>
  </form>
</div>
{% endblock %}
